## Deliverable 3 Create a Travel Itinerary with a Correspoonding Map with Direction Layer

In [1]:
import pandas as pd
import requests
import gmaps

from config import g_key

gmaps.configure(api_key=g_key)

In [2]:
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_Vacation.csv")

In [3]:
vacation_df.head()

,City_ID,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
0,3,hobyo,SO,80.83,5.3505,48.5268,broken clouds,Iftin hotel hobyo
1,8,caucaia,BR,79.03,-3.7361,-38.6531,few clouds,M.O.S. Logística - Filial Fortaleza
2,10,muros,ES,78.67,42.7762,-9.0603,few clouds,Apartment Av. Castelao
3,12,shakhtinsk,KZ,77.58,49.7100,72.5872,overcast clouds,Orifleym
4,23,nago,JP,84.63,26.5881,127.9761,overcast clouds,Hotel Yugaf Inn Okinawa

In [4]:
# Using the template add the hotel marks to the heatmap

info_box_template = '''
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description} at {Max Temp}</dd>
'''
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

locations = vacation_df[['Lat', 'Lng']]

In [5]:
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "danvers") & (vacation_df["Hotel Name"] == "Sonesta Select Boston Danvers")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "danvers") & (vacation_df["Hotel Name"] == "Sonesta Select Boston Danvers")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "nantucket") & (vacation_df["Hotel Name"] == "Jared Coffin House")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "shelton") & (vacation_df["Hotel Name"] == "Hilton Garden Inn Shelton")]
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "bethel") & (vacation_df["Hotel Name"] == "Courtyard by Marriott Danbury")]

In [7]:
vacation_start

,City_ID,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
100,356,danvers,US,75.16,42.5751,-70.9301,clear sky,Sonesta Select Boston Danvers

In [8]:
vacation_stop1

,City_ID,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
98,346,nantucket,US,75.31,41.2835,-70.0995,fog,Jared Coffin House

In [9]:
vacation_stop2

,City_ID,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
129,441,shelton,US,77.52,41.3165,-73.0932,mist,Hilton Garden Inn Shelton

In [10]:
vacation_stop3

,City_ID,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
22,89,bethel,US,75.51,41.3712,-73.414,mist,Courtyard by Marriott Danbury

In [16]:
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

In [17]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
city_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')

fig.add_layer(city_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end])
itinerary_df

,City_ID,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
100,356,danvers,US,75.16,42.5751,-70.9301,clear sky,Sonesta Select Boston Danvers
98,346,nantucket,US,75.31,41.2835,-70.0995,fog,Jared Coffin House
129,441,shelton,US,77.52,41.3165,-73.0932,mist,Hilton Garden Inn Shelton
22,89,bethel,US,75.51,41.3712,-73.4140,mist,Courtyard by Marriott Danbury
100,356,danvers,US,75.16,42.5751,-70.9301,clear sky,Sonesta Select Boston Danvers

In [26]:
itinerary_df.reset_index(drop=True)

,City_ID,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
0,356,danvers,US,75.16,42.5751,-70.9301,clear sky,Sonesta Select Boston Danvers
1,346,nantucket,US,75.31,41.2835,-70.0995,fog,Jared Coffin House
2,441,shelton,US,77.52,41.3165,-73.0932,mist,Hilton Garden Inn Shelton
3,89,bethel,US,75.51,41.3712,-73.4140,mist,Courtyard by Marriott Danbury
4,356,danvers,US,75.16,42.5751,-70.9301,clear sky,Sonesta Select Boston Danvers

In [27]:
# Using the template add the hotel marks to the heatmap

info_box_template = '''
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description} at {Max Temp}</dd>
'''
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]
locations = itinerary_df[['Lat', 'Lng']]

In [28]:
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))